.bg_img_login{
  background-image: url(../src/assets/bg_img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
 }
 .paperColor{
     background-color: white !important;
 }
 .bg_img_home{
  background-image: url(../src/assets/bg_img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
 }